:root {
    --color-background-negro: #000000;
    --color-background-blanco: #ffffff;
    /* Colores menta */
    --color-secundario-menta-01: #64D6C8;
    --color-secundario-menta-02: #3DCCBA;
    --color-secundario-menta-03: #31A596;
    --color-secundario-menta-04: #257E72;
    --color-secundario-menta-05: #1A564F;
    /* Colores de alertas */
    --color-alerta-verde: #007D00;
    --color-alerta-naranja: #FF9E00;
    --color-alerta-rojo: #CF0000;
    /* Colores Descubre */
    --color-titulo-pagina: #1F2024;
    --color-background-calendar-icon: #882DE7;
    --color-background-bell-icon: #164A99;
    --color-tab-details: #71727A;
}

/* Globals Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.1;
    text-shadow: 0 0 10px #0006;
    color: var(--color-background-negro);
    text-align: center;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 0px 15px;
}

.grid {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr;
}

.grid-gap-20 {
    display: grid;
    gap: 20px;
}

.text-title {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.1;
    text-shadow: 0 0 10px #0006;
    color: var(--color-background-negro);
    text-align: center;
}

.text-error {
    color: var(--color-alerta-rojo);
}

.text-special-white {
    text-shadow: 0 0 10px rgb(32 36 91 / 86%);
    color: var(--color-background-blanco);
}

.align-left {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.no-margin {
    margin: 0px 0px !important;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.align-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.screen-2-columns {
    width: 100%;
}

/* LOGIN STYLES */

.login-cont-form {
    margin: 0px auto;
    background: var(--color-background-blanco);
    border-radius: 20px;
    padding: 10px;
    height: auto;
    max-height: 500px;
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.title-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrap-grid {
    display: grid;
    gap: 20px;
}

.input-form {
    width: 100%;
    max-width: 400px;
    height: 45px;
    padding: 8px 56px 8px 26px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.login-inputs-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-form:focus {
    border-color: var(--color-background-bell-icon);
    box-shadow: 0 0 5px var(--color-background-calendar-icon) !important;
    outline: none;
    background-color: var(--color-background-blanco);
    border: 1px solid var(--color-background-calendar-icon);
}

.login-btn-container {
    width: 100%;
    margin: 20px 0px;
}

.login-forget-pass {
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 10px 0px;
    text-decoration: underline;
    font-size: 12px;
    color: var(--color-background-bell-icon);
    margin: auto;
}

.form-btn-container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    gap: 5px;
}

.form-button {
    width: 100%;
    max-width: 400px;
    background-color: var(--color-background-bell-icon);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--color-background-blanco);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-button:hover,
.form-button:focus {
    background-color: var(--color-background-calendar-icon);
}

.form-background {
    background: #2a9b83;
}

.background-gradient {
    background: linear-gradient(128deg, rgb(227 227 227) 38%, rgb(32 36 91 / 86%) 80%, rgb(211 229 217) 100%);
}

/* Users STYLES */

.user-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid var(--color-background-bell-icon);
    background: var(--color-background-blanco);
    padding: 20px;
    border-radius: 15px;
}

.users-container {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.user-card {
    background: var(--color-background-blanco);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-card button {
    border: none;
    background: var(--color-background-negro);
    color: var(--color-background-blanco);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    min-height: 35px;
}

.user-card-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 15px;
}

.users-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.filters-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(128deg, rgb(227 227 227) 38%, rgb(32 36 91 / 86%) 80%, rgb(211 229 217) 100%);
    padding-bottom: 1rem;
}

.content-scroll {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
}

/* Styles User detail */

.detail-container {
    padding: 1rem;
}

.back-button {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    background: var(--color-background-negro);
    color: var(--color-background-blanco);
    padding: 10px 20px;
    border-radius: 5px;
}

.detail-card {
    background: var(--color-background-blanco);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.detail-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Styles Filtered */

.user-filters {
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
    gap: 20px;
}

.user-filters-animation {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.user-filters button {
    height: auto !important;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filters-container input,
.filters-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buton-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: auto;
}

.title-filters-container {
    display: flex;
    width: 100%;
    text-align: start;
    margin-bottom: 15px;
}

/* Footer & Header */

.test-footer,
.test-header {
    display: flex;
    width: 100%;
}

.footer-text-disclaimer {
    font-size: 15px;
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-buttons {
    display: flex;
    gap: 1rem;
}

.modal-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #222;
    color: white;
    border-radius: 5px;
}

/* Styles Box Message */
.message-section {
    margin: 20px auto;
    max-width: 400px;
    width: 100%;
    display: grid;
    gap: 20px;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.message-form textarea {
    min-height: 100px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.message-form button {
    border: none;
    background: #222;
    color: white;
    padding: 12px;
    border-radius: 5px;
}

.messages-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message-card {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.message-card small {
    display: block;
    margin-top: 10px;
    color: gray;
    text-align: end;
}

.message-grid {
    display: grid;
    gap: 5px;
}

.message-texbox {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
}

.message-history-title {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    gap: 10px;
}

/* Styles User Table */
.users-table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    /*  Hace el scroll dentro de la tabla */
    max-height: 70vh;
    border-radius: 16px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    background: white;
}

.users-table {
    width: 100%;
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
}

.users-table thead th {
    position: sticky;
    top: 0;
    background: var(--color-background-negro);
    color: var(--color-background-blanco);
    z-index: 2;
    padding: 1rem;
    text-align: left;
}

.users-table th:first-child {
    border-top-left-radius: 16px;
}

.users-table th:last-child {
    border-top-right-radius: 16px;
}

.users-table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background: white;
}

.users-table tbody tr:hover {
    background: #f8f8f8;
}

.users-table tbody tr:hover td {
    background: #f8f8f8;
}

.users-table tbody tr:hover
.btn-delete-hover,
.user-card:hover
.btn-delete-hover {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.users-table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table-actions {
    display: flex;
    gap: 0.5rem;
}

.table-actions button {
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--color-background-negro);
    color: var(--color-background-blanco);
}

.table-actions .btn-delete,
.user-card .btn-delete {
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    background: transparent;
    color: var(--color-background-calendar-icon);
    border: 1px solid var(--color-background-calendar-icon);
}

.btn-delete-hover {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
}

.users-table th,
.users-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    background: #222;
    color: white;
}

.users-table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table-actions {
    display: flex;
    gap: 0.5rem;
}

.table-actions button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background: #222;
    color: white;
}

/* Loader styles */

.loader {
    width: 90px;
    padding: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-background-bell-icon);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

/* phones */
@media (min-width: 576px) {}

/* tablets */
@media (min-width: 768px) {

    .text-title {
        font-size: 30px;
    }

    .users-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail-card {
        max-width: 500px;
        margin: auto;
    }

    .filters-container {
        flex-direction: row;
    }

    .user-card {
        max-width: 300px;
    }

    .user-card-btn-container {
        justify-content: center;
        gap: 15px;
    }

    .login-cont-form {
        width: 40%;
    }

    .user-filters {
        display: flex;
        justify-content: space-between;
    }

    .screen-2-columns {
        display: flex;
        align-items: self-start;
        justify-content: space-around;
    }
}

/* desktops */
@media (min-width: 992px) {}

/* large desktops */
@media (min-width: 1200px) {
    .users-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* larger desktops */
@media (min-width: 1400px) {}